<!DOCTYPE html>

<html>
<head>
    <title>{% block page_title %} {% endblock page_title %}</title>
    {% block navbar_assets %} {% endblock navbar_assets %}
    {% block footer_assets %} {% endblock footer_assets %}
    {% block body_assets %} {% endblock body_assets %}
</head>

<body>
<div class="preloader" style="display: none;">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Nespresso Admin</p>
    </div>
</div>

<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <!-- Logo icon --><b>
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <img src="/static/assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                    <!-- Light Logo icon -->
                    <img src="/static/assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
                </b>
                    <!--End Logo icon -->
                    <!-- Logo text --><span style="">
                         <!-- dark Logo text -->
                         <img src="/static/assets/images/logo-text.png" alt="homepage" class="dark-logo">
                    <!-- Light Logo text -->
                         <img src="/static/assets/images/logo-light-text.png" class="light-logo" alt="homepage"></span>
                </a>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar ps ps--theme_default" data-ps-id="d0e716aa-f59a-9a5e-43d7-b1a9e9a9906d">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="">-- BİLGİLER --</li>
                    <li class="active"><a class="waves-effect waves-dark active" href="/dashboard_sales_tab"
                                          aria-expanded="false"><i class="icon-speedometer"></i>
                        <span class="hide-menu">Satış Bilgileri</span></a>

                    </li>
                    <li><a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
                            class="ti-layout-grid2"></i><span class="hide-menu">Demo Bilgileri</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="app-calendar.html">Günlük Demo</a></li>
                            <li><a href="app-chat.html">Haftalık Demo</a></li>
                            <li><a href="app-ticket.html">Aylık Demo</a></li>
                        </ul>
                    </li>
                    <li><a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i
                            class="ti-layout-grid2"></i><span class="hide-menu">Bilgi Girişi Yap</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="app-calendar.html">Lokasyon Ekle</a></li>
                            <li><a href="app-chat.html">Satış Elemanı Ekle</a></li>
                            <li><a href="app-ticket.html">Makine Ekle</a></li>
                            <li><a href="app-ticket.html">Stok Ekle/Değiştir</a></li>
                            <li><a href="app-ticket.html">Satış Hedefi Ekle</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__scrollbar-y-rail" style="top: 0px; height: 475px; right: 0px;">
                <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 175px;"></div>
            </div>
            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__scrollbar-y-rail" style="top: 0px; right: 62px;">
                <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
        </div>
        <!-- End Sidebar scroll-->
    </aside>

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Dashboard 1</h4>
            </div>
        </div>

    </div>
</div>

{% block document_navbar %} {% endblock document_navbar %}
{% block document_body %}   {% endblock document_body %}
{% block document_footer %} {% endblock document_footer %}
</body>
{% block js_codes %} {% endblock js_codes %}
</html>