{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>
        Nespresso Dashboard
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>


    <link href="{% static 'assets/css/material-dashboard.css' %}" rel="stylesheet"/>
    <script src="{% static 'assets/js/core/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/plugins/chartist.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/material-dashboard.min.js' %}" type="text/javascript"></script>


</head>
<body>
<div class="wrapper">

    <div class="sidebar" data-color="purple" data-background-color="white"
         data-image="{% static 'assets/img/sidebar-1.jpg' %}">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                Nespresso Dashboard
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard_main' %}">
                        <i class="material-icons">dashboard</i>
                        <p>Genel Bilgiler</p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'dashboard_sales_tab' %}">
                        <i class="material-icons">content_paste</i>
                        <p>Satış Bilgileri</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dashboard_tasting_tab' %}">
                        <i class="material-icons">local_drink</i>
                        <p>Tadım Bilgileri</p>
                    </a>
                </li>

                <!-- <li class="nav-item active-pro ">
                      <a class="nav-link" href="./upgrade.html">
                          <i class="material-icons">unarchive</i>
                          <p>Upgrade to PRO</p>
                      </a>
                  </li> -->
            </ul>
        </div>
        <div class="sidebar-background" style="background-image: url({% static 'assets/img/sidebar-1.jpg' %}) "></div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="#pablo">Dashboard</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <form class="navbar-form">
              <span class="bmd-form-group"><div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div></span>
                    </form>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo">
                                <i class="material-icons">dashboard</i>
                                <p class="d-lg-none d-md-block">
                                    Stats
                                </p>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">notifications</i>
                                <span class="notification">5</span>
                                <p class="d-lg-none d-md-block">
                                    Some Actions
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                <a class="dropdown-item" href="#">Another Notification</a>
                                <a class="dropdown-item" href="#">Another One</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo">
                                <i class="material-icons">person</i>
                                <p class="d-lg-none d-md-block">
                                    Account
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">

            </div>
        </div>
    </div>


</div>
</body>
</html>