{% extends 'document_js_codes_sales_tab.html' %}

{% load static %}

{% block document_container_fluid %}


    <div class="row" ng-controller="MainCtrl">
        {% verbatim %}
        <div class="modal fade" id="show_map_modal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title">Gerçek Lokasyon: <span style="text-decoration: underline;font-weight: bold;">{{ map_infos.location }}</span> , Aradaki Mesafe: <span style="text-decoration: underline;font-weight: bold;">{{ map_infos.distance }} Metre</span></h4>
                    </div>

                    <div class="modal-body">
                        <div class="col-md-12" style="height:400px;">
                            <div id="map" class="col-md-12" style="height:100%;"></div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        {% endverbatim %}
        <div class="col-lg-12">
            <div class="card">
                {% csrf_token %}
                {% verbatim %}
                <div class="card-body">
                    <div class="form-body">
                        <h3 class="card-title">Satış Bilgileri</h3>

                        <hr>
                        <!--/row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Başlangıç Tarihi</label>
                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy"
                                           ng-model="filter.startdate">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Bitiş Tarihi</label>
                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy"
                                           ng-model="filter.enddate">
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <!--/row-->

                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Satış Elemanı İsim</label>
                                    <input ng-model="filter.personnel_name" type="text" id="firstName"
                                           class="form-control" placeholder="İsim">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Satış Elemanı Soyisim</label>
                                    <input ng-model="filter.personnel_surname" type="text" id="firstName"
                                           class="form-control" placeholder="Soyisim">
                                </div>
                            </div>
                            <!--/span-->
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Lokasyon</label>
                                    <select ng-model="filter.location_id" class="form-control custom-select"
                                            data-placeholder="Choose a Category"
                                            tabindex="1">
                                        <option value="">Lokasyon Seçiniz</option>
                                        <option ng-repeat="location in locations" value="{{ location.id }}">{{
                                            location.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Makine</label>
                                    <select class="form-control custom-select" data-placeholder="Makine Seçiniz"
                                            tabindex="1" ng-model="filter.machine_id">
                                        <option value="">Makine Seçiniz</option>
                                        <option ng-repeat="machine in machines" value="{{ machine.id }}">{{
                                            machine.name }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Kampanya Durumu</label>
                                    <select class="form-control custom-select" data-placeholder="Choose a Category"
                                            tabindex="1" ng-model="filter.is_campaign">
                                        <option value="">Kampanyalı/Kampanyasız</option>
                                        <option value="0">Kampanyalı</option>
                                        <option value="1">Kampanyasız</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions offset-md-5">
                        <button type="submit" ng-click="filter_sales()" class="btn btn-info"><i
                                class="fa fa-search"></i>Filtrele
                        </button>
                        <button type="submit" ng-click="export_sales()" class="btn btn-primary"><i
                                class="fa fa-file"></i>Rapor Al
                        </button>

                    </div>
                </div>
                {% endverbatim %}

            </div>
        </div>
    </div>

    <div class="row" ng-controller="MainCtrl">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="table-responsive m-t-40">
                        <table id="sales_table"
                               class="cell-border nowrap table table-hover table-striped table-bordered full-color-table full-info-table"
                               cellspacing="0" style="width:100%"
                               data-server-side="true"
                        >
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Satış Lokasyonu</th>
                                <th>Tarih</th>
                                <th>Mağaza</th>
                                <th>Satış Elemanı Ad</th>
                                <th>Satış Elemanı Soyad</th>
                                <th>Makine</th>
                                <th>Müşteri Ad</th>
                                <th>Müşteri Soyad</th>
                                <th>Müşteri Tel</th>
                                <th>Müşteri Email</th>
                                <th>Kampanyalı Mı?</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    </div>

{% endblock document_container_fluid %}
