{% extends 'document_js_codes_add_personnel.html' %}

{% load static %}

{% block document_container_fluid %}

    <div class="row" ng-controller="MainCtrl">
        {% verbatim %}
        <div class="modal fade" id="edit_personnel_modal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h3 class="modal-title">{{ edit_personnel.name }} {{ edit_personnel.surname }}</h3>
                    </div>

                    <div class="modal-body">
                        <div class="col-md-6">

                            <div class="form-group">
                                <select ng-model="edit_personnel.location.id" class="form-control">
                                    <option ng-repeat="location in locations.results"
                                            ng-selected="location.id == edit_personnel.location.id"
                                            value="{{ location.id }}">{{
                                        location.name }}
                                    </option>
                                </select>
                            </div>


                            <div class="form-group">

                                <label for="id_name">İsim:</label> <input ng-model="edit_personnel.name" type="text"
                                                                          name="name"
                                                                          maxlength="200"
                                                                          class="form-control" required="" id="id_name">

                            </div>

                            <div class="form-group">

                                <label for="id_surname">Soyisim:</label> <input ng-model="edit_personnel.surname" type="text"
                                                                                name="surname"
                                                                                maxlength="200" class="form-control"
                                                                                required="" id="id_surname">

                            </div>

                            <div class="form-group">

                                <label for="id_phone_number">Telefon Numarası:</label> <input
                                    ng-model="edit_personnel.phone_number" type="text"
                                    name="phone_number"
                                    maxlength="30"
                                    class="form-control"
                                    required=""
                                    id="id_phone_number">

                            </div>

                            <div class="form-group">

                                <label for="id_tc_no">Tc no:</label> <input ng-model="edit_personnel.tc_no" type="number"
                                                                            name="tc_no" step="any"
                                                                            class="form-control" required=""
                                                                            id="id_tc_no">

                            </div>


                            <div class="form-group">
                                <label for="id_email">Personel Email:</label> <input ng-model="edit_personnel.user.email"
                                                                                     type="email" name="email"
                                                                                     maxlength="255"
                                                                                     class="form-control" required=""
                                                                                     id="id_email">
                            </div>


                            <button ng-click="edit_personnel_func()" class="btn btn-success waves-effect waves-light m-r-10">
                                Değiştir
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        {% endverbatim %}


        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Personel Ekle</h4>

                    <div class="col-md-6">
                        {% csrf_token %}
                        <div class="form-group">

                            <label for="id_name">İsim:</label> <input ng-model="personnel.name" type="text" name="name"
                                                                      maxlength="200"
                                                                      class="form-control" required="" id="id_name">

                        </div>

                        <div class="form-group">

                            <label for="id_surname">Soyisim:</label> <input ng-model="personnel.surname" type="text"
                                                                            name="surname"
                                                                            maxlength="200" class="form-control"
                                                                            required="" id="id_surname">

                        </div>

                        <div class="form-group">

                            <label for="id_phone_number">Telefon Numarası:</label> <input
                                ng-model="personnel.phone_number" type="text"
                                name="phone_number"
                                maxlength="30"
                                class="form-control"
                                required=""
                                id="id_phone_number">

                        </div>

                        <div class="form-group">

                            <label for="id_tc_no">Tc no:</label> <input ng-model="personnel.tc_no" type="number"
                                                                        name="tc_no" step="any"
                                                                        class="form-control" required=""
                                                                        id="id_tc_no">

                        </div>


                        <div class="form-group">
                            <label for="id_username">Personel Kullanıcı Adı:</label> <input
                                ng-model="personnel.user.username" type="text"
                                name="username"
                                maxlength="150"
                                class="form-control"
                                required=""
                                id="id_username">
                        </div>

                        <div class="form-group">
                            <label for="id_password">Personel Şifre:</label> <input ng-model="personnel.user.password"
                                                                                    type="text" name="password"
                                                                                    maxlength="128"
                                                                                    class="form-control" required=""
                                                                                    id="id_password">
                        </div>

                        <div class="form-group">
                            <label for="id_email">Personel Email:</label> <input ng-model="personnel.user.email"
                                                                                 type="email" name="email"
                                                                                 maxlength="255"
                                                                                 class="form-control" required=""
                                                                                 id="id_email">
                        </div>

                        {% verbatim %}
                        <div class="form-group">
                            <select ng-model="personnel.location_id" class="form-control">
                                <option value="">Lokasyon Seçiniz</option>
                                <option ng-repeat="location in locations.results" value="{{ location.id }}">{{
                                    location.name }}
                                </option>
                            </select>
                        </div>
                        <button ng-click="add_personnel()" class="btn btn-success waves-effect waves-light m-r-10">
                            Kaydet
                        </button>
                        {% endverbatim %}
                    </div>

                    <div class="table-responsive m-t-40">
                        <table id="personnels"
                               class="cell-border nowrap table table-hover table-striped table-bordered full-color-table full-info-table"
                               cellspacing="0" style="width:100%"
                               data-server-side="true"
                        >
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>İsim</th>
                                <th>Soyisim</th>
                                <th>Lokasyon</th>
                                <th>Telefon Numarası</th>
                                <th>EDIT</th>
                                <th>DELETE</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->

{% endblock document_container_fluid %}
