{% extends 'document_js_codes_add_sales_target.html' %}

{% load static %}

{% block document_container_fluid %}

    <div class="row" ng-controller="MainCtrl">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Satış Hedefi Ekle</h4>

                    <div class="input-daterange input-group" id="date-range">
                        <input type="text" class="form-control" name="start">
                        <div class="input-group-append">
                            <span class="input-group-text bg-info b-0 text-white">TO</span>
                        </div>
                        <input type="text" class="form-control" name="end">
                    </div>


                    <div class="table-responsive m-t-40">
                        <table id="albums" class="display nowrap table table-hover table-striped table-bordered"
                               cellspacing="0" style="width:100%"
                               data-server-side="true"
                        >
                            <thead>
                            <tr>
                                <th data-data="date">Tarih</th>
                                <th data-data="location_id.location_name">Mağaza</th>
                                <th data-data="personnel_id.name">Satış Elemanı Ad</th>
                                <th data-data="personnel_id.surname">Satış Elemanı Soyad</th>
                                <th data-data="machine_id.name">Ürün</th>
                                <th data-data="customer_name">Müşteri Ad</th>
                                <th data-data="customer_surname">Müşteri Soyad</th>
                                <th data-data="customer_phone_number">Müşteri Tel</th>
                                <th data-data="customer_email">Müşteri Email</th>
                                <th data-data="is_campaign">Kampanyalı Mı?</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    </div>

{% endblock document_container_fluid %}
