{% extends 'document_aside.html' %}

{% load static %}


{% block document_js_codes_sales_tab %}

    <script src="{% static 'assets/node_modules/jquery/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/node_modules/popper/popper.min.js' %}"></script>
    <script src="{% static 'assets/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'dist/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dist/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <script src="{% static 'assets/node_modules/sparkline/jquery.sparkline.min.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/custom.min.js' %}"></script>

    <!-- Datatable Scripts -->
    <script src="{% static 'assets/node_modules/datatables/jquery.dataTables.min.js' %}"
            type="text/javascript"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="{% static 'assets/node_modules/timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static 'assets/node_modules/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <script src="{% static 'assets/node_modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>

    <!-- PDF Scripts -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

    <!-- Date Picker Plugin JavaScript -->
    <script src="{% static 'assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script>
        // MAterial Date picker
        //$('#mdate').bootstrapMaterialDatePicker({weekStart: 0, time: false});
        $('#timepicker').bootstrapMaterialDatePicker({format: 'HH:mm', time: true, date: false});
        $('#date-format').bootstrapMaterialDatePicker({format: 'dddd DD MMMM YYYY - HH:mm'});

        $('#min-date').bootstrapMaterialDatePicker({format: 'DD/MM/YYYY HH:mm', minDate: new Date()});
        // Clock pickers
        $('#single-input').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            'default': 'now'
        });
        $('.clockpicker').clockpicker({
            donetext: 'Done',
        }).find('input').change(function () {
            console.log(this.value);
        });
        $('#check-minutes').click(function (e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show').clockpicker('toggleView', 'minutes');
        });
        if (/mobile/i.test(navigator.userAgent)) {
            $('input').prop('readOnly', true);
        }
        // Colorpicker
        $(".colorpicker").asColorPicker();
        $(".complex-colorpicker").asColorPicker({
            mode: 'complex'
        });
        $(".gradient-colorpicker").asColorPicker({
            mode: 'gradient'
        });
        // Date Picker
        jQuery('.mydatepicker, #datepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        jQuery('#date-range').datepicker({
            toggleActive: true
        });
        jQuery('#datepicker-inline').datepicker({
            todayHighlight: true
        });
        // Daterange picker
        $('.input-daterange-datepicker').daterangepicker({
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
        $('.input-daterange-timepicker').daterangepicker({
            timePicker: true,
            format: 'MM/DD/YYYY h:mm A',
            timePickerIncrement: 30,
            timePicker12Hour: true,
            timePickerSeconds: false,
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
        $('.input-limit-datepicker').daterangepicker({
            format: 'MM/DD/YYYY',
            minDate: '06/01/2015',
            maxDate: '06/30/2015',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse',
            dateLimit: {
                days: 6
            }
        });
    </script>


    <script>
        var MainModule = angular
            .module("MainModule", [])
            .controller("MainCtrl", function ($scope, $http) {
                $scope.filter = {};
                this.$onInit = function () {
                    console.log("GEÇTİ");
                    $('#albums').DataTable({
                        dom: 'Bfrtip',
                        'serverSide': true,
                        'ajax': '/admin_get_sales?format=datatables',
                        'columns': [
                            {'data': 'date'},
                            {'data': 'location_id.name'},
                            {'data': 'personnel_id.name'},
                            {'data': 'personnel_id.surname'},
                            {'data': 'machine_id.name'},
                            {'data': 'customer_name'},
                            {'data': 'customer_surname'},
                            {'data': 'customer_phone_number'},
                            {'data': 'customer_email'},
                            {'data': 'is_campaign'},
                        ],
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ]
                    });
                    $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
                }


                $scope.machines = {};
                $scope.locations = {};
                $http.get("/get_machines")
                    .then(function (machines) {
                        $scope.machines = machines.data;
                        console.log($scope.machines);
                    });

                $http.get("/get_locations")
                    .then(function (locations) {
                        $scope.locations = locations.data;
                        console.log($scope.locations);
                    });
                $scope.get_filtered_sales = function () {
                    console.log($scope.filter);
                    $.ajax({
                        url: '/get_filtered_sales',
                        type: "POST",
                        data: {'a1': 'b1'},
                        //data: JSON.stringify($scope.filter),
                        //data:JSON.stringify($scope.filter),
                        dataType: 'json',
                        contentType: "application/json",
                        success: function (data) {
                            console.log("OLDU");
                        },
                        fail: function (data) {
                            console.log("BAŞARISIZ");
                        }
                    });

                };
                /*
                $scope.get_filtered_sales = function () {
                    console.log("YAZDIK");
                    $('#albums').DataTable({
                        dom: 'Bfrtip',
                        "bDestroy": true,
                        'serverSide': true,
                        'ajax': {
                            'url': '/get_filtered_sales',
                            'type': "POST",
                            'contentType': "application/json",
                            'data': {'filterObject': JSON.stringify($scope.filter)},
                        },
                        'columns': [
                            {'data': 'Date'},
                            {'data': 'location_id.name'},
                            {'data': 'personnel_id.name'},
                            {'data': 'personnel_id.surname'},
                            {'data': 'MachineId.'},
                            {'data': 'CustomerName'},
                            {'data': 'CustomerSurname'},
                            {'data': 'CustomerPhoneNumber'},
                            {'data': 'CustomerEmail'},
                            {'data': 'IsCampaign'},
                        ],
                        buttons: [
                            'copy', 'csv', 'excel', 'pdf', 'print'
                        ]
                    });
                    $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
                };
                */
            });
    </script>

    <script>
        /*
            $(document).ready(function () {
            $('#albums').DataTable({
                //"scrollX": true,
                dom: 'Bfrtip',
                'serverSide': true,
                'ajax': '/admin_get_sales?format=datatables',
                'columns': [
                    {'data': 'Date'},
                    {'data': 'location_id.name'},
                    {'data': 'personnel_id.name'},
                    {'data': 'personnel_id.surname'},
                    {'data': 'MachineId.'},
                    {'data': 'CustomerName'},
                    {'data': 'CustomerSurname'},
                    {'data': 'CustomerPhoneNumber'},
                    {'data': 'CustomerEmail'},
                    {'data': 'IsCampaign'},
                ],
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
            });
        */

    </script>




{% endblock document_js_codes_sales_tab %}
