<!DOCTYPE html>

<html lang="en" ng-app="MainModule">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block document_page_title %} {% endblock document_page_title %}</title>
    {% block document_assets %} {% endblock document_assets %}
</head>

<body class="skin-blue fixed-layout">
<div id="main-wrapper">
    {% block document_header %}   {% endblock document_header %}
    {% block document_aside %}   {% endblock document_aside %}
    <div class="page-wrapper" style="min-height: 199px;">
        {% block document_container_fluid %}   {% endblock document_container_fluid %}
    </div>
</div>
<footer class="footer">
    © 2018 NespressoAdmin by musketeers
</footer>
</body>
{% block document_js_codes_sales_tab %} {% endblock document_js_codes_sales_tab %}
{% block document_js_codes_add_location %} {% endblock document_js_codes_add_location %}
{% block document_js_codes_add_sales_target %} {% endblock document_js_codes_add_sales_target %}
{% block document_js_codes_add_machine %} {% endblock document_js_codes_add_machine %}
{% block document_js_codes_add_personnel %} {% endblock document_js_codes_add_personnel %}
{% block document_js_codes_add_stock %} {% endblock document_js_codes_add_stock %}

</html>